<a href="https://colab.research.google.com/github/lifepopkay/Tech-Monies/blob/Data-cleaning/year_of_experience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd
import numpy as np
from nltk.corpus import stopwords
import re

In [44]:
tech_monies = pd.read_excel('monies.xlsx')

In [45]:
tech_monies.head(1)

,title,id,company,location,link,salaryDesc,postDate,JobDesc,title scraped for,Country
0,Senior Software Engineer,job_3e1d31dda6c5cb4b,Offerzen,Lagos,/company/OfferZen/jobs/Senior-Software-Enginee...,Full-time,Just posted,The Opportunity\nOur newly formed Marketplace ...,Data Scientist,Nigeria

In [46]:
tech_monies.shape

(8700, 10)

In [47]:
tech_monies.columns

Index(['title', 'id', 'company', 'location', 'link', 'salaryDesc', 'postDate',
       'JobDesc', 'title scraped for', 'Country'],
      dtype='object')

In [58]:
sample = pd.DataFrame(tech_monies.JobDesc)

In [59]:
sample.shape

(8700, 1)

In [60]:
sample.head()

                                             JobDesc
0  The Opportunity\nOur newly formed Marketplace ...
1  Our client requires the skills of a Data Scien...
2  \nWork with development teams and product mana...
3  \n\n\n\nSuperintendent Pharmaceutical Officer\...
4  \n\n  Company : Worley \n \n\nPrimary Location...

In [77]:
txt =sample.JobDesc[0]

In [115]:
import nltk
nltk.download('punkt')

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stop = set(stopwords.words('english'))
toke = word_tokenize(sample.JobDesc[0])


filtered_sentence = [items for items in toke if not items.lower() in  stop]  

# filtered_sentence = []

# for w in toke:
#   if w not in stop:
#     filtered_sentence.append(w)



print(filtered_sentence)

['Opportunity', 'newly', 'formed', 'Marketplace', 'Enablement', 'squad', 'responsible', 'improving', 'experience', 'success', 'rate', 'candidates', 'companies', 'marketplace', ',', 'well', 'enabling', 'operational', 'teams', 'deliver', 'highly', 'human', 'service', 'effectively', 'efficiently', 'scale', '.', 'looking', 'Fullstack', 'JS', 'Engineer', 'join', 'Marketplace', 'Enablement', 'squad', 'part', 'larger', 'product', 'group', '.', 'product', 'squads', 'cross-functional', 'teams', 'talented', 'engineers', ',', 'product', 'managers', 'designers', 'working', 'together', 'design', 'deliver', 'impactful', 'quality', 'software', '.', 'We‚Äôre', 'big', 'developer', 'productivity', '(', 'hence', 'React', ',', 'GraphQL', ',', 'Ruby', 'Rails', ')', ',', 'continuous', 'improvement', '(', 'we‚Äôre', 'currently', 'Kent', 'C.', 'Dodds‚Äô', 'epicreact.dev', ')', 'delivering', 'value', 'customers', '(', 'check', 'feature', 'released', 'last', 'quarter', ':', 'https', ':', '//lnkd.in/gKYRruQ', ')', '.What', 'you‚Äôll', 'Design', ',', 'test', ',', 'ship', 'quality', 'front-end', 'back-end', '(', 'Ruby-on-Rails', '&', 'React', ')', 'code', 'every', 'week', 'build', 'impactful', 'new', 'features', 'internal', 'operational', 'teams', '.', 'Help', 'design', 'architect', 'backend', 'features', 'delivery', 'team', '.', 'Actively', 'sharing', 'knowledge', 'peers', 'upskilling', 'engineers', 'code', 'reviews', 'pair-programming', '.', 'Work', 'wide', 'range', 'systems', ',', 'stakeholders', ',', 'processes', 'technologies', 'solve', 'problems', 'design', 'delivery', '.', 'Uphold', 'improve', 'engineering', 'standards', 'processes', '.', 'Debug', 'production', 'issues', 'across', 'services', 'multiple', 'levels', 'stack', 'conversations', 'architectural', 'design', '&', 'contributing', 'technical', 'requirements', '.', 'needed', ',', 'producing', 'easy', 'understand', 'technical', 'documents', '.', 'Contribute', 'technical', 'product', 'roadmap', 'Actively', 'contribute', 'Planning', ',', 'Grooming', ',', 'Retros', '&', 'daily', 'standup', 'meetings', '.', 'Contribute', 'success', 'team', ',', 'extending', 'helping', 'hand', 'team', 'needed', '.', 'You‚Äôll', 'great', 'fit', 'role', ':', '5+', 'years', 'experience', 'software', 'development', 'Senior', 'Developer', 'least', '2', 'years', '.', 'experience', 'Cloud', 'Architectures', '(', 'preferably', 'AWS', 'Heroku', ')', '.', 'quick', 'learner', 'looking', 'delivery', 'maximum', 'value', 'autonomous', 'environment', 'whilst', 'remaining', 'accountable', 'delivery', 'experience', 'working', 'within', 'high', 'growth', 'tech', 'startup/scale', 'preferable', 'excellent', 'problem', 'solving', 'abilities', 'combine', 'product', 'design', ',', 'process', 'technical', 'aspects', 'ability', 'clearly', 'articulate', 'solutions', 'technical', 'non-technical', 'audience', 'room', 'closet', 'numerous', 'free', 't-shirts', ':', ')', "'s", 'like', 'work', 'hereWe', 'love', 'fun', 'stuff', 'together', '.', 'focused', 'building', 'connected', 'tribe', 'sense', 'belonging', '.', 'value', 'unique', 'diverse', 'approaches', 'ensure', 'create', 'opportunities', 'share', 'learn', '.', 'regular', 'online', 'in-person', 'team', 'events', ',', 'show', 'tell', 'book', 'club', 'well', 'regional', 'annual', 'off-site', 'events', '.', "'re", 'dedicated', 'authenticity', ':', 'treat', 'people', 'people', ',', 'caring', 'personally', 'speaking', 'openly', '.', 'foster', 'low-ego', 'behaviour', '-', 'mistakes', 'well', 'victories', '.', "'re", 'never', 'blame', '.', "'re", 'always', 'honesty', ',', 'learning', 'continuous', 'improvement', '.', 'ensure', 'lots', 'transparency', 'visibility', '.', 'OKRs', 'strategy', 'analytics', 'company', 'performance', 'numbers', ',', "'s", 'available', 'see', 'understand', '.', "'re", 'passionate', 'learning', 'levelling', ':', 'Everyone', 'OfferZen', 'strives', 'growth', 'mindset', 'annual', 'training', 'budget', 'use', 'upskill', '.', 'internal', 'book', 'clubs', 'include', 'free', 'books', ',', 'listen', 'podcasts', ',', 'share', 'expertise', 'obsessively', ',', 'take', 'hard', 'challenges', 'smart', 'guidance', 'support', '.', 'things', 'go', 'wrong', ',', 'look', 'learnings', 'improve', '.', "'re", 'balance', ':', 'believe', 'maintaining', 'healthy', 'balance', 'home', 'work', 'key', 'feeling', 'happier', 'productive', '.', 'work', 'fully', 'remote', ',', 'provide', 'annual', "'unsick", "'", 'day', 'use', 'leisure', 'also', 'offer', '24', 'days', 'leave', 'year', 'available', 'use', 'time', 'start', '.', 'OfferZen', 'Story', 'OfferZen', 'mission', 'improve', 'experience', 'finding', 'work', 'people', 'involved', 'making', 'software', ',', 'developers', 'designers', 'data', 'scientists', 'utilisation', 'world', 'class', 'online', 'recruitment', 'marketplace', '.', 'flipping', 'traditional', 'recruitment', 'model', 'head', 'getting', 'companies', 'reach', 'candidates', 'upfront', 'offers', '.', 'last', '6', 'years', ',', 'managed', 'make', 'large', 'dent', 'South', 'African', 'online', 'tech', 'recruitment', 'marketplace', '‚Äì', "'re", 'speeding', '.', 'team', '150+', 'people', 'offices', 'Cape', 'Town', 'Amsterdam', '.', '6', 'years', 'young', ',', "'re", 'still', 'exciting', 'scale-up', 'phase', 'allows', 'us', 'develop', 'new', 'exciting', 'ideas', ',', 'innovate', 'product', ',', 'think', 'creatively', 'solving', 'real', 'problems', '.', 'Empathy', 'Ca', "n't", 'Automated', ':', 'Solving', 'Complex', 'Problems', 'Tech', 'Marketplace', '.', 'article', 'gives', 'insight', 'world', 'tech', 'marketplace', 'advisors', '.', 'One', 'Tech', 'Talent', 'Advisors', ',', 'wrote', 'experience', 'working', 'OfferZen', 'blog', '.', 'role', 'excites', 'sounds', 'like', 'great', 'fit', ',', 'please', 'apply', '!', 'Job', 'Type', ':', 'Full-time']

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [114]:

for i in txt.split():

SyntaxError: ignored

In [91]:
txt[1907:1923]

'years experience'